<div class="row">
    <div class="col-md-5">
        <h2>Races</h2>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let race of races"
                (click)="selectRace(race)"
                [class.active]="race === selectedRace">
                {{ race.name }}
            </li>
        </ul>
        <button class="btn btn-warning" (click)="createNewRace()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <race-detail
            [race]="selectedRace"
            [createHandler]="addRace"
            [updateHandler]="updateRace"
            [deleteHandler]="deleteRace">
        </race-detail>
    </div>

</div>