<div *ngIf="entity" class="row">
    <div class="col-md-12">
        <h2 *ngIf="entity._id">Подробности класса</h2>
        <h2 *ngIf="!entity._id">Новый класс</h2>
    </div>
</div>
<div *ngIf="entity" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="class-name">Имя</label>
            <input class="form-control" name="class-name" [(ngModel)]="entity.name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="class-tooltip">Подсказка</label>
            <input class="form-control" name="class-tooltip" [(ngModel)]="entity.tooltip" placeholder="Tooltip"/>
        </div>
        <div class="form-group">
            <label for="class-descrtiption">Описание</label>
            <textarea class="form-control" name="class-description" [(froalaModel)]="entity.description" placeholder="Description" [froalaEditor]="options"></textarea>
            <div [froalaView]="entity.description"></div>
        </div>
        <button class="btn btn-primary" *ngIf="!entity._id" (click)="createEntity(entity)">Create</button>
        <button class="btn btn-info" *ngIf="entity._id" (click)="updateEntity(entity)">Update</button>
        <button class="btn btn-danger" *ngIf="entity._id" (click)="deleteEntity(entity._id)">Delete</button>
    </form>
</div>