<div *ngIf="klass" class="row">
    <div class="col-md-12">
        <h2 *ngIf="klass._id">Подробности класса</h2>
        <h2 *ngIf="!klass._id">Новая класс</h2>
    </div>
</div>
<div *ngIf="klass" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="class-name">Имя</label>
            <input class="form-control" name="class-name" [(ngModel)]="klass.name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="class-tooltip">Подсказка</label>
            <input class="form-control" name="class-tooltip" [(ngModel)]="klass.tooltip" placeholder="Tooltip"/>
        </div>
        <div class="form-group">
            <label for="class-descrtiption">Описание</label>
            <textarea class="form-control" name="class-descrtiption" [(froalaModel)]="klass.description" placeholder="Descrtiption" [froalaEditor]="options"></textarea>
            <div [froalaView]="klass.description"></div>
        </div>
        <button class="btn btn-primary" *ngIf="!klass._id" (click)="createKlass(klass)">Create</button>
        <button class="btn btn-info" *ngIf="klass._id" (click)="updateKlass(klass)">Update</button>
        <button class="btn btn-danger" *ngIf="klass._id" (click)="deleteKlass(klass._id)">Delete</button>
    </form>
</div>