<div *ngIf="class" class="row">
    <div class="col-md-12">
        <h2 *ngIf="class._id">Подробности класса</h2>
        <h2 *ngIf="!class._id">Новая класс</h2>
    </div>
</div>
<div *ngIf="class" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="class-name">Имя</label>
            <input class="form-control" name="class-name" [(ngModel)]="class.name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="class-tooltip">Подсказка</label>
            <input class="form-control" name="class-tooltip" [(ngModel)]="class.tooltip" placeholder="Tooltip"/>
        </div>
        <div class="form-group">
            <label for="class-descrtiption">Описание</label>
            <textarea class="form-control" name="class-descrtiption" [(froalaModel)]="class.description" placeholder="Descrtiption" [froalaEditor]="options"></textarea>
            <div [froalaView]="class.description"></div>
        </div>
        <button class="btn btn-primary" *ngIf="!class._id" (click)="createClass(class)">Create</button>
        <button class="btn btn-info" *ngIf="class._id" (click)="updateClass(class)">Update</button>
        <button class="btn btn-danger" *ngIf="class._id" (click)="deleteClass(class._id)">Delete</button>
    </form>
</div>