<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/">
        <img width="100" alt="Brand" src="/assets/static/D&D.png">
      </a>

    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/races">Расы</a></li>
        <li><a class="btn disabled" href="#">Классы</a></li>
        <li><a class="btn disabled" href="#">Умения</a></li>
        <li><a class="btn disabled" href="#">Предметы</a></li>
      </ul>
    </div>
    <div>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск" disabled>
        </div>
        <button type="submit" class="btn btn-default" disabled>Искать</button>
      </form>
    </div>
  </div>
</nav>
