<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/">
        <img width="100" alt="Brand" src="/assets/static/D&D.png">
      </a>

    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/races">Расы</a></li>
        <li><a routerLink="/classes">Классы</a></li>
        <li><a routerLink="/skills">Умения</a></li>
        <li><a routerLink="/items">Предметы</a></li>
        <li><a routerLink="/enchantments">Зачарования</a></li>
      </ul>
    </div>
    <div>
      <form class="navbar-form navbar-right">
        <button
          *ngIf="!globals.editMode.value"
          (click)="changeMode(true)"
          class="btn btn-info">
            Просмотр
        </button>
        <button
          *ngIf="globals.editMode.value"
          (click)="changeMode(false)"
          class="btn btn-danger">
            Редактирование
        </button>
        <button
          (click)="openModal('custom-modal-1')">
            Open Modal
        </button>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Поиск"
            name="query"
            [(ngModel)]="query">
        </div>
        <button
          type="submit"
          class="btn btn-default"
          (click)="search()">
          Искать {{ query }}
        </button>
      </form>
    </div>
  </div>
</nav>

<modal id="custom-modal-1">
    <div class="dndmodal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
        </div>
    </div>
  <div class="modal-background"></div>
</modal>