<div class="row">
    <div class="col-md-3">
        <h2>Умения</h2>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let skill of skills"
                (click)="selectSkill(skill)"
                [class.active]="skill === selectedSkill">
                {{ skill.name }}
            </li>
        </ul>
        <button class="btn btn-warning" (click)="createNewSkill()">New</button>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <skill-details
            [skill]="selectedSkill"
            [createHandler]="addSkill"
            [updateHandler]="updateSkill"
            [deleteHandler]="deleteSkill">
        </skill-details>
    </div>

</div>