<div *ngIf="item" class="row">
    <div class="col-md-12">
        <h2 *ngIf="item._id">Подробности предмета</h2>
        <h2 *ngIf="!item._id">Новый предмет</h2>
    </div>
</div>
<div *ngIf="item" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="class-name">Имя</label>
            <input class="form-control" name="class-name" [(ngModel)]="item.name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="class-tooltip">Подсказка</label>
            <input class="form-control" name="class-tooltip" [(ngModel)]="item.tooltip" placeholder="Tooltip"/>
        </div>
        <div class="form-group">
            <label for="class-descrtiption">Описание</label>
            <textarea class="form-control" name="class-descrtiption" [(froalaModel)]="item.description" placeholder="Descrtiption" [froalaEditor]="options"></textarea>
            <div [froalaView]="item.description"></div>
        </div>
        <button class="btn btn-primary" *ngIf="!item._id" (click)="createItem(item)">Create</button>
        <button class="btn btn-info" *ngIf="item._id" (click)="updateItem(item)">Update</button>
        <button class="btn btn-danger" *ngIf="item._id" (click)="deleteItem(item._id)">Delete</button>
    </form>
</div>