<div *ngIf="race" class="row">
    <div class="col-md-12">
        <h2 *ngIf="race._id">Подробности расы</h2>
        <h2 *ngIf="!race._id">Новая раса</h2>
    </div>
</div>
<div *ngIf="race" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="race-name">Имя</label>
            <input class="form-control" name="race-name" [(ngModel)]="race.name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="race-tooltip">Подсказка</label>
            <input class="form-control" name="race-tooltip" [(ngModel)]="race.tooltip" placeholder="Tooltip"/>
        </div>
        <div class="form-group">
            <label for="race-descrtiption">Описание</label>
            <textarea class="form-control" name="race-descrtiption" [(ngModel)]="race.description" placeholder="Descrtiption" [froalaEditor]></textarea>
        </div>
        <button class="btn btn-primary" *ngIf="!race._id" (click)="createRace(race)">Create</button>
        <button class="btn btn-info" *ngIf="race._id" (click)="updateRace(race)">Update</button>
        <button class="btn btn-danger" *ngIf="race._id" (click)="deleteRace(race._id)">Delete</button>
    </form>
</div>